
<div class="container mat-sidenav-container">


  <form [formGroup]="EmpForm" (ngSubmit)="this[EventValue]()">


      <h3>Contacts CRUD Operation</h3>
      <div class="row">

      <table class="table">
      <tr>
        <td>
          <input type="hidden" formControlName="contactID">
          <input type="hidden" formControlName="UserId">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="contactName">
          </mat-form-field>

          <div *ngIf="submitted && EmpForm.controls.contactName.errors" class="text-danger">
            <div *ngIf="EmpForm.controls.contactName.errors.required">Name is required</div>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <!-- <input type="text" formControlName="address"> -->
          <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>

          <div *ngIf="submitted && EmpForm.controls.Address.errors" class="text-danger">
            <div *ngIf="EmpForm.controls.Address.errors.required">Address is required</div>
          </div>

        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button mat-raised-button color="primary" type="submit" >{{EventValue}}</button>
          <!-- class="btn btn-primary" -->
        </td>
      </tr>

    </table>
    </div>
    <div class="row">
      <table class="table table-striped">
        <tr>


          <td>Contact</td>
          <td>Name</td>
          <td></td>
          <td> Address </td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>

        <tr *ngFor="let d of data">
          <td key={d.Id}>{{d.contactID}}</td>
          <td>{{d.contactName}}</td>
          <td>{{d.UserId}}</td>
          <td>{{d.address}}</td>
          <!-- <td><a (click)="EditData(d)" class="mat-stroked-button" >Edit</a></td> -->
          <td><a mat-raised-button color="accent" (click)="EditData(d)">Edit</a></td>
          <!-- <td><a (click)="deleteData(d.ContactID)" class="mat-stroked-button">Delete</a></td> -->
          <td><a mat-raised-button color="warn" (click)="deleteData(d.ContactID)">Delete</a></td>
        </tr>
      </table>
    </div>
  </form>

  </div>


 <!-- <form>
 <label class="mdc-text-field mdc-text-field--filled username">
  <span class="mdc-text-field__ripple"></span>
  <input type="text" class="mdc-text-field__input" aria-labelledby="username-label" name="username" required>
  <span class="mdc-floating-label" id="username-label">Username</span>
  <span class="mdc-line-ripple"></span>
</label>
<label class="mdc-text-field mdc-text-field--filled password">
  <span class="mdc-text-field__ripple"></span>
  <input type="password" class="mdc-text-field__input" aria-labelledby="password-label" name="password" required minlength="8">
  <span class="mdc-floating-label" id="password-label">Password</span>
  <span class="mdc-line-ripple"></span>
</label>
<div class="button-container">
  <button type="button" class="mdc-button cancel">
    <div class="mdc-button__ripple"></div>
    <span class="mdc-button__label">
      Cancel
    </span>
  </button>
  <button class="mdc-button mdc-button--raised next">
    <div class="mdc-button__ripple"></div>
    <span class="mdc-button__label">
      Next
    </span>
  </button>
</div>
</form> -->
